# Assignment 03

# Problem Statement :: Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.
2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris- versicolor’ of iris.csv dataset.
Provide the codes with outputs and explain everything that you do in this step.

In [1]:
from seaborn import load_dataset

df = load_dataset('iris')

In [2]:
import pandas as pd
from sklearn import preprocessing
import numpy as np
import statistics
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [5]:
#converting categorical data into numerical data
encoder = preprocessing.LabelEncoder()
df["species"]=encoder.fit_transform(df["species"])
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [6]:
#Summary Statistics
df.describe()

       sepal_length  sepal_width  petal_length  petal_width     species
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.057333      3.758000     1.199333    1.000000
std        0.828066     0.435866      1.765298     0.762238    0.819232
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.350000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000

In [8]:
#using groupby function to group data
data = df.groupby(["species"])
data.groups.keys()

dict_keys([0, 1, 2])

In [9]:
df.groupby(["species"])["sepal_width"].count()

species
0    50
1    50
2    50
Name: sepal_width, dtype: int64

In [12]:
df.groupby(["species"])["sepal_width"].std()

species
0    0.379064
1    0.313798
2    0.322497
Name: sepal_width, dtype: float64

In [13]:
df.groupby(["species"])["sepal_width"].mean()

species
0    3.428
1    2.770
2    2.974
Name: sepal_width, dtype: float64

In [14]:
df.groupby(["species"])["sepal_width"].min()

species
0    2.3
1    2.0
2    2.2
Name: sepal_width, dtype: float64

In [15]:
df.groupby(["species"])["sepal_width"].max()

species
0    4.4
1    3.4
2    3.8
Name: sepal_width, dtype: float64

In [16]:
df.groupby(["species"])["sepal_width"].var()

species
0    0.143690
1    0.098469
2    0.104004
Name: sepal_width, dtype: float64

In [17]:
df.groupby(["species"])["sepal_width"].sum()

species
0    171.4
1    138.5
2    148.7
Name: sepal_width, dtype: float64

In [18]:
df.groupby(["species"])["sepal_width"].agg(pd.Series.mode)

species
0    3.4
1    3.0
2    3.0
Name: sepal_width, dtype: float64

In [19]:
#Similarly for rest columns SepalLengthCm  PetalLengthCm  PetalWidthCm

In [20]:
data = df.groupby(["species"])
data.agg([np.sum, np.mean, np.max, np.min, np.std, np.var])

        sepal_length                                      sepal_width         \
                 sum   mean amax amin       std       var         sum   mean
species
0              250.3  5.006  5.8  4.3  0.352490  0.124249       171.4  3.428
1              296.8  5.936  7.0  4.9  0.516171  0.266433       138.5  2.770
2              329.4  6.588  7.9  4.9  0.635880  0.404343       148.7  2.974

                   ... petal_length                          petal_width  \
        amax amin  ...         amax amin       std       var         sum
species            ...
0        4.4  2.3  ...          1.9  1.0  0.173664  0.030159        12.3
1        3.4  2.0  ...          5.1  3.0  0.469911  0.220816        66.3
2        3.8  2.2  ...          6.9  4.5  0.551895  0.304588       101.3


          mean amax amin       std       var
species
0        0.246  0.6  0.1  0.105386  0.011106
1        1.326  1.8  1.0  0.197753  0.039106
2        2.026  2.5  1.4  0.274650  0.075433

[3 rows x 24 columns]