# Assignment 03

# Problem Statement :: Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.
2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris- versicolor’ of iris.csv dataset.
Provide the codes with outputs and explain everything that you do in this step.

#Import pandas

In [ ]:
#Dataset : "/content/Iris.csv"

#read Iris csv file

In [1]:
import pandas as pd
from sklearn import preprocessing
import numpy as np
import statistics
df = pd.read_csv("C:/Users/91862/Desktop/DATASCIENCECODES//Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [2]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [3]:
#converting categorical data into numerical data
encoder = preprocessing.LabelEncoder()
df["Species"]=encoder.fit_transform(df["Species"])
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [16]:
#Summary Statistics
print(df.describe())

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

          Species
count  150.000000
mean     1.000000
std      0.819232
min      0.000000
25%      0.000000
50%      1.000000
75%      2.000000
max      2.000000

In [4]:
#using groupby function to group data
data = df.groupby(["Species"])
data.groups.keys()

dict_keys([0, 1, 2])

In [17]:
df.groupby(["Species"])["SepalWidthCm"].count()

Species
0    50
1    50
2    50
Name: SepalWidthCm, dtype: int64

In [8]:
df.groupby(["Species"])["SepalWidthCm"].std()

Species
0    0.381024
1    0.313798
2    0.322497
Name: SepalWidthCm, dtype: float64

In [9]:
df.groupby(["Species"])["SepalWidthCm"].mean()

Species
0    3.418
1    2.770
2    2.974
Name: SepalWidthCm, dtype: float64

In [10]:
df.groupby(["Species"])["SepalWidthCm"].min()

Species
0    2.3
1    2.0
2    2.2
Name: SepalWidthCm, dtype: float64

In [11]:
df.groupby(["Species"])["SepalWidthCm"].max()

Species
0    4.4
1    3.4
2    3.8
Name: SepalWidthCm, dtype: float64

In [ ]:
df.groupby(["Species"])["SepalWidthCm"].var()

Species
0    0.145180
1    0.098469
2    0.104004
Name: SepalWidthCm, dtype: float64

In [18]:
df.groupby(["Species"])["SepalWidthCm"].sum()

Species
0    170.9
1    138.5
2    148.7
Name: SepalWidthCm, dtype: float64

In [22]:
df.groupby(["Species"])["SepalWidthCm"].agg(pd.Series.mode)

Species
0    3.4
1    3.0
2    3.0
Name: SepalWidthCm, dtype: float64

In [26]:
#Similarly for rest columns SepalLengthCm  PetalLengthCm  PetalWidthCm

In [27]:
data = df.groupby(["Species"])
data.agg([np.sum, np.mean, np.max, np.min, np.std, np.var])

           Id                                   SepalLengthCm              \
          sum   mean amax amin       std    var           sum   mean amax
Species
0        1275   25.5   50    1  14.57738  212.5         250.3  5.006  5.8
1        3775   75.5  100   51  14.57738  212.5         296.8  5.936  7.0
2        6275  125.5  150  101  14.57738  212.5         329.4  6.588  7.9

              ... PetalLengthCm                          PetalWidthCm         \
        amin  ...          amax amin       std       var          sum   mean
Species       ...
0        4.3  ...           1.9  1.0  0.173511  0.030106         12.2  0.244
1        4.9  ...           5.1  3.0  0.469911  0.220816         66.3  1.326
2        4.9  ...           6.9  4.5  0.551895  0.304588        101.3  2.026


        amax amin       std       var
Species
0        0.6  0.1  0.107210  0.011494
1        1.8  1.0  0.197753  0.039106
2        2.5  1.4  0.274650  0.075433

[3 rows x 30 columns]